*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    background-color: antiquewhite;
    
}

.container{
    background: #222;
    color: #fff;
    background-size: cover;
    background-position: center;
    max-width: 100vh;
    height: 80vh;
    margin: auto;
    position: relative;
    
}
.h{
    position: relative;
    margin-left: 40%;
    color:rgb(147, 155, 59);
    font-weight: bolder;
    padding-bottom: 10px;
}
#textBox{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    color: #fff;
    padding: 10px;
}
#prevText{
    position: absolute;
    left: 50%;
    bottom: 30%;
    transform: translate(-50%);
    width: 90%;
    font-size: 32px;
    text-align: center;
    text-shadow: 2px 2px 20px #000;
}
.uploadicon{
    position: absolute;
    width: 10px;
    height: 10px;
    bottom: 100px;
    left: 50%;
    border-radius: 10px;
    transform: translateX(-50%);
    cursor: pointer;
}

ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
  }

  ul.navbar li {
    display: inline-block;
  }

  ul.navbar li a {
    display: block;
    color: rgb(196, 47, 47);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  ul.navbar li a:hover {
   background-color: rgb(67, 8, 20)   ;
  }
 
  #b1{
   margin-left: 105px;
   margin-bottom: 10px;
   padding-left: 10px;
   background-color: rgb(190, 121, 35);
         border-radius: 10px;
  }

  #b2{
    padding-left: 10px;
    margin-left: 179px;
    margin-bottom: 10px;
    background-color: bisque;
    border-radius: 10px;

  }
  #b3{
    padding-left: 10px;
    margin-left: 155px;
    margin-bottom: 10px;
    background-color: bisque;
    border-radius: 10px;
  }
  #b4{
    padding-left: 10px;
    margin-left: 135px;
    margin-bottom: 10px;
    background-color: bisque;
    border-radius: 10px;
  }
  #b5{
    padding-left: 10px;
    margin-left: 50px;
    margin-bottom: 10px;
    background-color: bisque;
    border-radius: 10px;
  }
  #b6{
    padding-left: 10px;
    margin-left: 46px;
    margin-bottom: 10px;
    background-color: bisque;
    border-radius: 10px;
    }
  #b7{
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 180px;
    background-color: bisque;
    border-radius: 10px;
  }
  #b8{
    padding-left: 10px;
    margin-bottom: 10px;
    background-color: bisque;
    border-radius: 10px;
    margin-left: 150px;
  }
  .about{
    position: relative;
    margin-left: 30%;
    display: inline-block;
    padding: 10px;
  }
  #subt{
    position: absolute;
    left: 50%;
    padding: 8px;
    color: black;
    background-color: tan;
    border: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    cursor: pointer;
    
    
  }
  .about{
   
    position: relative;
    display: inline-block;
    padding: 20px;
    

  }
.hanler{
  color:steelblue;
  padding: 20px;
}